.div-title {
    background-color: bisque;
    padding: 10px;
}

.div-title p {
    margin: 0px;
}

.div-text {
    background-color: lightsteelblue;
    margin-top: 5px;
    padding: 10px;
}

.div-text p {
    margin: 0px;
    text-align: justify;
}